.text{position: fixed; right:0; top: 0; font-size: 50px; z-index: 100}

#content .content_area{position: relative}
#content .intro:before{content: ""; display: block; background: #333; position: absolute; width: 1px; height:100px; left: 600px; top: -185px}
#content .intro{width: 1200px; background: #f4f2ef; margin: 270px 0 130px 0; text-align: center; font-family: 'Nanum Myeongjo'; color: #333; font-weight: 700; padding: 70px 0 80px 0; position: relative; top: -40px; opacity: 1; transition: all 1.5s}
#content .intro p:nth-of-type(1){font-size: 36px; line-height: 1.7em; margin-bottom: 55px}
#content .intro span{font-size: 48px}
#content .intro p:nth-of-type(2){font-size: 23px; color: #ff9900; margin-bottom: 45px}
#content .intro p:nth-of-type(3){font-size: 17px; font-family: 'Nanum Gothic'; line-height: 1.8em; font-weight: 100}

#content section{line-height: 2em; overflow: hidden; margin-bottom: 150px; position: relative; text-align: justify; font-size: 1.2em;}
#content section::before{content: ""; display: block; background: #333; position: absolute; width: 65px; height:6px; right: 250px; top: 240px}
#content section span{display: block}
#content section img{margin-right : 50px; float: left}
#content section:nth-of-type(2)::before, #content section:nth-of-type(4)::before{top: 200px}
#content section h3{font-size: 35px; margin: 270px 0 30px 0}
#content section:nth-of-type(2) h3, #content section:nth-of-type(4) h3{margin-top: 230px}

#content section p:nth-of-type(1){font-size: 18px; line-height: 2em; font-weight: 700; margin-bottom: 30px}
#content section p:nth-of-type(2){text-align: justify}

#content .content_area .boxMove{top: 0; left: 0; opacity: 1} 