/* 1depth 의 공통 */

.visual{width: 2000px; height: 409px; position: relative; left: 50%; margin-left: -1000px; z-index: -1; text-align: center; overflow: hidden}
.visual .product_ttl{position: absolute; left: 50%; top: 210px; margin-left: -219px; font-family: 'Nanum Gothic'; color: #fff; text-align: center; line-height: 4em; z-index: 2}
.visual .product_ttl h3{font-size: 40px; font-weight: 200}
.visual .product_ttl p{font-size: 16px}

.subNav{width: 100%; margin: 0 auto}
.subNav:after{content: ""; display: block; width: 100%; height: 1px; background: #ccc;}
.subNav ul{overflow: hidden; width: 666px; margin: 0 auto; }
.subNav ul li{width: 33.33%; float: left; text-align: center; position: relative}
.subNav ul li::after{content: ''; display: block; width: 1px; height: 30px; background: #ccc;
                   position: absolute; right: 0; top:15px; z-index: -1}
.subNav ul li:last-child::after{content: ''; background: none}
.subNav ul li a{font-size: 18px; display: block; padding: 20px 0; transition: all .5s}
.subNav ul li a:hover{background: #ff9900; color: #fff; font-weight: bold; letter-spacing: -1px}
.subNav ul li .current{background: #ff9900; color: #fff; font-weight: bold; letter-spacing: -1px}

#content{width: 1200px; margin: 0 auto;}
#content .title_area{margin-bottom: 110px}
#content .title_area .lineMap{font-family: '돋움'; color: #333; margin: 25px 0 164px 50px}
#content .title_area .title_con{font-family: 'Nanum Gothic'; color: #333; text-align: center }
#content .title_area h2{font-size: 55px; margin-bottom: 80px}
#content .title_area p{font-size: 20px; font-weight: 400; line-height: 2em}



